* {
  margin: 0;
}

html {
  font-family: "Roboto Slab", serif;
}

body {
  min-width: 740px;
  padding-right: 40px;
  padding-left: 40px;
  color: #fff;
}

a {
  text-decoration: none;
}

.app {
  position: relative;
  width: 580px;
  height: 420px;
  margin: 200px auto 100px auto;
  padding: 31px 58px;
  text-align: center;
  background: linear-gradient(180deg, #4D5DFB 0%, #08C8F6 100%);
  border-radius: 40px;
  box-shadow: 1px 5px 7px 1px #00000040;
}

.app2 {
  position: relative;
  
  margin: 200px auto 100px auto;
  padding: 31px 58px;
  text-align: center;
  background: linear-gradient(180deg, #4D5DFB 0%, #08C8F6 100%);
  border-radius: 40px;
  box-shadow: 1px 5px 7px 1px #00000040;
}


.app-outlined {
  background: #ffffff;
  border: 1px solid #2d81ff;
  border-radius: 40px;
  box-shadow: 0 4px 5px 0 #00000026;
  color: #2d81ff;
}


.app__list-button {
  position: absolute;
  top: 28px;
  right: 35px;
}

.grid {
  display: grid;
}

.flex {
  display: flex;
}

/*width: 580px;
  height: 420px;*/